@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    /* font-weight: lighter; */
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(231, 231, 231);
}
body {
    background-color: rgb(27, 27, 27);
}

.top {
    height: 100vh;
    width: 100%;
    border: 1px solid grey;
    /* background-image: url("/img/golden-gate-bridge1.jpeg"); */
}

.navbar-wrap {
    height: 10%;
    padding: 0 4.5rem;
    /* background: grey; */
    background-color: rgba(200, 200, 200, .1);
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    width: 100%;
    height: 100%;
    
}
.nav-links li {
    font-size: 24px;
    margin-left: 1.5rem;
    float: left;
    cursor: pointer;
}
/*  */
#nav-1 {
    height: 30px;
    cursor: pointer;
}

#showcase .bg-image {
    position: absolute;
    top: 0;
    background-image: url("/img/golden-gate-bridge1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap'); */
.showcase-texts {
    height: auto;
    width: auto;
    /* border: 1px solid orange; */
    position: absolute;
    top: 64vh;
    left: 45vw;
    /* background-color: orange; */

}
.showcase-text {
    color: white;
    font-size: 8vw;
    font-family: 'Anton', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
    /* font-family: 'Satisfy', cursive; */
    opacity: .5;
    /* font-weight: bold; */
}

.main {
    padding: 0 4.5rem;
}
section {
    padding: 100px 0;
}
.section-title {
    font-size: 30px;
    padding: 3rem 0;
}

/*  */
#section-z {
    /* width: 100vw; */
    /* height: auto; */
    /* padding: 100px 0;   */
}
.section-z-content-wrap {
    width: 100%;
}
.baby-wrap {
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
}

.fa-baby {
    zoom: 2.3;
}

.timeline {
    color: rgb(175, 175, 175);
    width: 100%;
    height: auto;
    /* temporary */
    display: grid;
    grid-template-columns: 49.8% 0.4% 49.8%;
    padding: 0 65px;
}

.timeline-border {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 143, 148);
}
.timeline-left, .timeline-right {
    display: flex;
    flex-direction: column;
}
.timeline-left {
    /* border: 1px solid orange; */
    /* height: 500px; */
}
.timeline-right {
    /* border: 1px solid rgb(0, 255, 64); */
    /* height: 500px; */
    padding-top: 110px;
}
.moment {
    width: 100%;
    margin: 30px 0;
    /* height: 300px; */
    /* border: 2px solid pink; */
    text-align: center;
}
.moment-img {
    height: 120px;
    width: 150px;
    margin-bottom: 20px;
}
.moment-text-wrap {
    border: 1px solid rgb(175, 175, 175);
    /* background: white; */
    padding: 30px;
}

.timeline-content-bottom {
    display: grid;
    grid-template-columns: 90% 10%;
}
.timeline-content-bottom-right {
    display: grid;
    grid-template-columns: 10% 90%;
}
.horizontal-line {
    height: 4px;
    width: 100%;
    background: rgb(0, 143, 148);
    margin: auto;
}


.blank-space {
    height: 100px; 
}
.now p {
    font-size: 40px;
    color: white;
    text-align: center;
}






/*  */
#section-a {
    height: 100vh;
    width: 100%;
    /* border: 2px solid pink; */
    /* padding: 100px 0; */

}
.section-a-contents {
    /* height: 100vh; */
    width: 100%;
    /* border: 2px solid pink; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 850px) {
    .main {
        padding: 0 .5rem;
    }
    section {
        padding: 10% 0;
    }
    .section-title {
        font-size: 30px;
        padding: 1rem 0;
        text-align: center;
    }
    #section-a {
        height: 100%;
    }
    .section-a-contents {
        flex-direction: column-reverse;

    }
    .section-a-contents p {
        margin-top: 2rem;
    }
    .carousel {
        width: 10%;
    }
    .carousel-cell {
        width: 100%;
        height: 100%;
    }
    /* form {
        width: 100%;
        padding: 0;
    } */
    .timeline {
        display: flex;
        flex-direction: column;
    }
    .horizontal-line {
        height: 0px;
        width: 0px;
        background: rgb(0, 143, 148);
        margin: auto;
    }
    .timeline-content-bottom {
        grid-template-columns: 100%;
    }
    .timeline-content-bottom-right {
        grid-template-columns: 100%;
    }
    .timeline-right {
        padding-top: 10px;
    }
    .blank-space {
        margin: 0 auto;
        text-align: center;
        width: 3px;
        background: rgb(0, 143, 148);
    }
}
.burger {
    display: none;
    cursor: pointer;
    /* border: 1px solid rgb(139, 139, 139);
    border-radius: 3px; */

}
.burger div {
    width: 22px;
    height: 2px;
    background-color: rgb(207, 207, 207);
    margin: 5px;
    transition: all .3s ease;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 4rem;
        background: rgba(65, 65, 65, 0.9);
        /* display: table-column-group; */
        flex-direction: column;
        display: flex;
        align-items: center;
        /* justify-content: center; */
        width: 35%;
        transform: translateX(100%);
        transition: transform .5s ease-in;
    }
    
    .nav-links li {
        color: rgb(255, 255, 255);
        /* margin-left: 0; */
        margin: 10%;
        opacity: 0;
        /* height: 60px;
        width: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: center;
        border-bottom: 1px solid rgb(246, 246, 246);
        /* margin: auto; */
        
    }
    /* .nav-links li:nth-child(2n+1) {
        background: rgb(250, 250, 250);
    } */
    .burger {
        display: block;
    }
}
/* Toggler */
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(250px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.section-a-contents p {
    padding: 0 30px;
}
.section-a-contents img {
    width: 50%;
}
/* carousel */
* { box-sizing: border-box; }
.carousel {
    width: 70%;
    margin: 0 auto;
}
.carousel-cell {
    display: flex;
    flex-direction: column;

    width: 40%;
    height: 380px;
    margin-right: 10px;
    background: rgb(81, 187, 197);
    border-radius: 5px;
    text-align: center;
    /* counter-increment: carousel-cell; */
}
.carousel-img-wrap {
    height: 70%;
}
.carousel-text-wrap {
    height: 30%;
}
.carousel-cell > img {
    height: 70%;
    width: 100%;
    border-radius: 5px 5px 0 0;
    
}
.carousel-cell > p {
    /* height: 30%; */
    padding: 2rem;
    font-size: 24px;
}
.carousel-cell:before {
    display: block;
    text-align: center;
    /* content: counter(carousel-cell); */
    line-height: 200px;
    font-size: 80px;
    color: white;
}
.flickity-page-dots .dot.is-selected {
    background: white;
}
.flickity-page-dots .dot {
    border: 2px solid white;
}
/* .flickity-page-dots {
    bottom: -22px;
}
.flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
} */

#section-c > .section-title {
    text-align: center;    
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

form > input, form > textarea, form > button {
    margin-top: 20px;
    padding: 5px;
}

form > input, form > textarea {
    width: 100%;
    border-radius: 5px;
    color: rgb(49, 49, 49);
}
form > input {
    height: 30px;
}
form > textarea {
    height: 150px;
    width: 100%;
    color: rgb(49, 49, 49);
}
form > button {
    width: 50%;
    /* margin: inherit auto; */
    height: 35px;
    color: rgb(49, 49, 49);
    border-radius: 7px;
    border: 1px solid rgb(49, 49, 49);
    background-color: ;
    background: rgb(18,207,240);
    background: linear-gradient(321deg, rgba(18,207,240,1) 0%, rgba(79,131,255,1) 100%);
}
form > button:hover {
    opacity: .7
}







/*  */

.play-ground {
    height: 300px;
    width: 100%;
    border: 1px solid black;

}
.circle {
    width: 50px;
    height: 50px;
    background: navy;
    border-radius: 50%;
}

.showUp {
    animation: test0 1.5s;
}
@keyframes test0 {
    from {
        /* width: 150px; */
        opacity: 0;       
    }
    to {
        /* width: 300px; */
        opacity: 1;
    }
}
.showOff {
    animation: test1 1.5s;
}
@keyframes test1 {
    from {
        /* width: 300px; */
        opacity: 1;
    }
    to {
        /* width: 150px; */
        opacity: 0;
        /* top: 30px; */
    }
}

/* Responsive */





footer {
    height: 150px;
    width: 100%;
    /* border: 1px solid rgb(91, 160, 240); */
}